<!DOCTYPE html>
<html>

<head>
      <%- include("partials/head") %>
</head>

<body class=<%=session.color ? session.color: "bg-info" %>>
      <h2 class="text-center fs-1 fw-bold mb-4 text-white">
            <%= title %>
      </h2>

</body>

</html>